{{>partials/header}}
    <h2>Sobre a instituição</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur, laborum dignissimos eius iste suscipit quam est ratione ipsa perferendis, quasi nulla inventore praesentium odit vero nihil culpa libero quas doloribus!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi ea repudiandae exercitationem fuga dolorum! Harum nulla non quia culpa, nostrum repellendus illo sed consectetur, maxime necessitatibus beatae placeat doloremque totam.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam aliquam cum hic quos labore. Fugiat corporis expedita nihil! Architecto quia sit magni quae dignissimos temporibus, voluptate neque saepe adipisci laboriosam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam assumenda consequuntur corporis sapiente aut? Veritatis, labore iste quaerat dignissimos facilis consequuntur minima asperiores explicabo officiis adipisci ullam provident corrupti magni!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur fuga amet pariatur dicta animi quis harum provident blanditiis, non temporibus magnam ducimus rerum molestias consequatur incidunt facilis nulla minus excepturi!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, sequi accusamus tempora, est, eum blanditiis earum et assumenda saepe fuga similique sapiente delectus dolor ea cum quibusdam? Aliquam, blanditiis optio.
    </p>
{{>partials/footer}}